---
import "../assets/main.css";

interface Props {
  title?: string;
}

const { title } = Astro.props;
const mainTitle = "Punch Up: Visualization Playground";
const description =
  "Join our team of developers as they step out of their comfort zone and embrace the role of storyteller and designer. Explore their experimental data visualization projects, where tech meets art.";
const url = "https://visplayground.punchup.world/2024/";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content="{Astro.generator}" />
    <title>
      {title ? `${title} - Visualization Playground` : mainTitle}
    </title>
    <meta property="og:title" content={mainTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={url + "og.png"} />
    <script
      defer
      data-domain="visplayground.punchup.world"
      src="https://analytics.punchup.world/js/script.js"></script>
  </head>
  <body class="typo-b5 font-body">
    <slot />
  </body>
</html>
